<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_20069b19ac8c46d6bb0f9acd36b29c92 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_20069b19ac8c46d6bb0f9acd36b29c92" ></div>
        
</body>
<script>    
    
            var map_20069b19ac8c46d6bb0f9acd36b29c92 = L.map(
                "map_20069b19ac8c46d6bb0f9acd36b29c92",
                {
                    center: [37.76, -122.44],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c68adfd0e36f45a29c489bdf5561fe34 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_20069b19ac8c46d6bb0f9acd36b29c92);
        
    
            var marker_3466809ed6e6493d88e470043e1f4f27 = L.marker(
                [37.76, -122.44],
                {}
            ).addTo(map_20069b19ac8c46d6bb0f9acd36b29c92);
        
    
        var popup_4294183ed0354c36823eff968ab94c4f = L.popup({"maxWidth": "100%"});

        
            var html_1fad2fdf4b024b01af15e9ca42a4843a = $(`<div id="html_1fad2fdf4b024b01af15e9ca42a4843a" style="width: 100.0%; height: 100.0%;">(37.76,-122.44)</div>`)[0];
            popup_4294183ed0354c36823eff968ab94c4f.setContent(html_1fad2fdf4b024b01af15e9ca42a4843a);
        

        marker_3466809ed6e6493d88e470043e1f4f27.bindPopup(popup_4294183ed0354c36823eff968ab94c4f)
        ;

        
    
    
            var marker_d38354f7164b46bda3e40424d62c3872 = L.marker(
                [37.7597972, -122.4347957],
                {}
            ).addTo(map_20069b19ac8c46d6bb0f9acd36b29c92);
        
    
            var icon_7b770530530342abb898f13c12fbda0e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "darkgreen", "prefix": "fa"}
            );
            marker_d38354f7164b46bda3e40424d62c3872.setIcon(icon_7b770530530342abb898f13c12fbda0e);
        
    
        var popup_b76d617fea0946cf86b897ff22f3ca63 = L.popup({"maxWidth": "100%"});

        
            var html_982460c62bf545ce82eed6ea8eaa03fc = $(`<div id="html_982460c62bf545ce82eed6ea8eaa03fc" style="width: 100.0%; height: 100.0%;">distance: 459.14486372505297 m safety-index: %, meter-id:</div>`)[0];
            popup_b76d617fea0946cf86b897ff22f3ca63.setContent(html_982460c62bf545ce82eed6ea8eaa03fc);
        

        marker_d38354f7164b46bda3e40424d62c3872.bindPopup(popup_b76d617fea0946cf86b897ff22f3ca63)
        ;

        
    
    
            var marker_d5ae544471a14185822695d4d1076db4 = L.marker(
                [37.7605075, -122.4348617],
                {}
            ).addTo(map_20069b19ac8c46d6bb0f9acd36b29c92);
        
    
            var icon_c276d38242624be5aef3f647237b3cb3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "darkgreen", "prefix": "fa"}
            );
            marker_d5ae544471a14185822695d4d1076db4.setIcon(icon_c276d38242624be5aef3f647237b3cb3);
        
    
        var popup_ae557b385ada49cabfe73f8f3998cbfb = L.popup({"maxWidth": "100%"});

        
            var html_d2f2bd1c63d14e9d95f46a572e2b559c = $(`<div id="html_d2f2bd1c63d14e9d95f46a572e2b559c" style="width: 100.0%; height: 100.0%;">distance: 456.26520406261386 m safety-index: %, meter-id:</div>`)[0];
            popup_ae557b385ada49cabfe73f8f3998cbfb.setContent(html_d2f2bd1c63d14e9d95f46a572e2b559c);
        

        marker_d5ae544471a14185822695d4d1076db4.bindPopup(popup_ae557b385ada49cabfe73f8f3998cbfb)
        ;

        
    
    
            var marker_5a51b2f14eb14fd7baa255fececa87be = L.marker(
                [37.7609573, -122.4347791],
                {}
            ).addTo(map_20069b19ac8c46d6bb0f9acd36b29c92);
        
    
            var icon_fdcf7e880dc24a91a49208e43cf046c6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "darkgreen", "prefix": "fa"}
            );
            marker_5a51b2f14eb14fd7baa255fececa87be.setIcon(icon_fdcf7e880dc24a91a49208e43cf046c6);
        
    
        var popup_06c2e8c88544432facad7314e236b57c = L.popup({"maxWidth": "100%"});

        
            var html_11298970cbf84684872b95b005eeec30 = $(`<div id="html_11298970cbf84684872b95b005eeec30" style="width: 100.0%; height: 100.0%;">distance: 472.162486007832 m safety-index: %, meter-id:</div>`)[0];
            popup_06c2e8c88544432facad7314e236b57c.setContent(html_11298970cbf84684872b95b005eeec30);
        

        marker_5a51b2f14eb14fd7baa255fececa87be.bindPopup(popup_06c2e8c88544432facad7314e236b57c)
        ;

        
    
</script>